body {
    background-image: url("images/email-pattern.png");
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

form {
    margin: 1em;
}

form input {
    margin: 0 15px;
}

form i {
    font-size: 12px;
    margin-left: 5px;
}


#list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-flow: row wrap;
}

.list-item {
    height: 300px;
    min-width: 300px;
    flex: 1 1 30%;
    box-sizing: border-box;
    position: relative;

    padding: 5px;
    padding-right: 0px;
    margin: 15px;
    
    background-image: url("images/lined_paper.png");
    
    background-blend-mode: overlay;

    border-radius: 5px;
    color: black;
    transform: scale(0.99);

    transition: all 200ms;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.list-item:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.4);
    transform: scale(1);
}

.list-item .delete-button {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0px;
    right: -5px;
    transition: all 200ms;
}

.list-item:hover .delete-button {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    right: 5px;
    transition: inherit;
}


.list-item:hover .delete-button:hover {
    color: red;
    transition: inherit;
}

.list-item .text-wrapper {
    max-height: 245px;
    margin: 20px 3.5px;
    margin-right: 1px;
    overflow: auto;
    box-sizing: content-box;
    text-align: justify;
    padding-left: 5px;
    padding-right: 10px;
}

.list-item .time-stamp {
    position: absolute;
    bottom: 0;
    padding: 5px;
    margin: 0;
    margin-left: -5px;
    background-color: khaki;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);

    transition: inherit;
}

.list-item:hover .time-stamp {
    transform: skew(0) translate(5px, 10px);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    transition: inherit;
}


.time-stamp span {
    padding-left: 0.25rem;
}