body {
    font-family: Verdana, sans-serif;
    background-color: slategray;
}

li {
    margin: 15px 0;
}

li .del{
    visibility: hidden; 
    margin-left: 20px;
    opacity: 0; 
    transition: opacity 150ms;  
}

li:hover .del{
    visibility: visible;
    cursor: pointer;
    opacity: 1;
}

#container {
    margin: 15px;
    padding: 15px;
    border: 1px solid;
    width: fit-content;
    background-color: white;

    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}

.style_1 {
    padding: 5px;
    background-color: tan;
    border: slategray solid 3px;
    cursor: pointer;
    text-align: center;
}