body{
    font-family: Verdana, sans-serif;
    background-color:slategray;
}
#container{
    margin: 15px;
    padding: 15px;
    border: 1px solid;
    width:fit-content;
    background-color: white;

    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}